*{
    margin: 0;
    padding: 0;

}
body{
    background-color:rgba(25, 21, 39, 1) ;
}

.name{
    height: 108 in;
    width: 529 in;
    text-align: center;
}
#head{
    color: white;
    font-size: 75px;
    font-family: 'Istok Web';
    padding-bottom: 10px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
    height:47.38 in;
    width:  1431 in ;
   
    font-size: 30px;
}
 .nav-bar a{
    text-decoration: none;
    color: white;
 }