* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2d3551;
  width: 1440px;
}
.logo {
  margin: 15px;
  display: flex;
  gap: 30em;
}
.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
header {
  position: -webkit-sticky;
  position: sticky;
}
.navbar {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav {
  width: 1233px;
  height: 102px;
  border-radius: 36px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #917468;
}
.main-nav a , #exp ,#skl,#cont ,#exp-2 , #pj{
  text-decoration: none;
  color: white;
  font: medium;
  font-family: "Inter", sans-serif;
  font-size: 30px;
}

/* main body start */
.box {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  padding-left: 100px;
  gap: 20px;
}
.first {
  width: 530px;
  height: 681px;
  border-radius: 61px;
  background-color: #dab5c4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.second {
  width: 530px;
  height: 681px;
  border-radius: 61px;
  background-color: #dab5c4;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.heading-1 {
  font-weight: bold;
  font-size: 48px;
  font-family: "Hepta Slab", serif;
}
#cont1 {
  font-size: 28px;
  font-family: "Hepta Slab", serif;
  padding-left: 30px;
  padding-right: 30px;
}
#more {
  width: 184px;
  height: 70px;
  border-radius: 43px;
  background-color: #917468;
  font-size: 30px;
}
#more a {
  text-decoration: none;
  color: white;
}
#cont2 {
  font-size: 32px;
  font-family: "Hepta Slab", serif;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
}
.heading-2 {
  font-weight: bold;
  font-size: 48px;
  font-family: "Hepta Slab", serif;
  padding-bottom: 50px;
}
.box2 {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.about {
  width: 887px;
  height: 519px;
  background-color: #dab5c4;
  border-radius: 48px;
  font-size: 35px;
  padding: 15px;
}
.two-part {
  padding-top: 60px;
}
#pic img {
  width: 376px;
  height: 376px;
  border-radius: 50%;
  background: #917468;
  box-shadow: 0 0 100px #917468;
}
.spe{
  font-family: "Grenze Gotisch", serif;
}

/* experience page  */

#heading-e ,.heading-s,.heading-c,#heading-p,.heading-a,#heading-s,.heading-t {
  padding: 20px;
  font-size: 48px;
  color: white;
  font-weight: 800;
  text-align: center;
}

.outer {
  margin-left: 65px;
  width: 1365px;
  height: 476px;
  background-color: #dab5c4;
  border-radius: 62px;
  position: relative;

  margin-top: 30px;
}
#outer {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}
.inner {
  width: 1224px;
  height: 325px;
  background-color: #917468;
  border-radius: 46px;
  /* margin: 30px; */
  position: absolute;
  margin-top: 65px;
  margin-left: 60px;
}
.supinner {
  width: 1189px;
  height: 249px;

  text-align: center;
  font-size: 26px;
  font-weight: 400;
  color: white;
  font-size: 25px;
}
#inner2{
    padding-top: 80px;
    text-align: center;
    color: white;
}


/* skills page  */
.heading-s{

}
.scroller{
  display: flex;
  gap: 20px;
  overflow: auto;
  white-space: nowrap;
}
.scroll-items img{
  width: 290px;
  height: 290px;
  border-radius: 50%;
}

/* contact page  */
.imag img{
  margin-left: 30px;
  width: 498px;
  height: 513px;
  border-radius: 50%;
}
.box-c{
  width: 750px;
  height: 550px;
  border-radius: 92px;
  background-color: #dab5c4;
  padding: 20px;
}
.bg{
  display: flex;
  justify-content: space-between;
  
}
.name{
  display: flex;
  justify-content: space-around;
}
.incont-c{
  font-size: 36px ;
  font-weight: 600;
   
  font-family: "Hepta Slab", serif;

}
.cont-c{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.input-c{
  width: 375px;
  height: 55px;
  background-color: #917468;
  border-radius: 17px;
  color: white;
  font-size: 29px;
}

.icons{
  display: flex;
 
  justify-content: center;
}
.last{
  height: 30px;
  width: 1440px;
  font-size: larger;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.566);
  color: white;
  text-align: center;
}


/* project page */
.row{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px;
}
.outer-p{
  width: 564px;
  height: 493px;
  background-color: #dab5c4;
  border-radius: 26px;
}
.inner-p img{
  width: 255px;
  height: 175px;
  background-color: #917468;
  border-radius: 23px;
  position: absolute;
  top: 150em;
  left: 14em;
   /* margin-left: 150px; */
   z-index: 10;
  
}


.inner2-p{
  background-color: #917468;
  width: 514px;
  height: 248px;
  border-radius: 15px;
  position: absolute;
  left: 6em;
  top: 165em;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.innerhead-p{
  text-align: center;
  margin-top: 130px;
  font-size: 40px;
   font-weight: bold;
  font-family: "Hepta Slab", serif;
}

.continner-p{
  padding: 15px;
  text-align: center;
  font-size: 29px;
  font-family: "Hepta Slab", serif;
  color: white;
}

.inner2-p button{
  margin-left: 140px;

  color: white;
  border-radius: 14px;
  width: 200px;
  height: 60px;
  background-color: #2D3551;
}

/* second-box */

.innerimag1 img{
  width: 255px;
  height: 175px;
  background-color: #917468;
  border-radius: 23px;
  position: absolute;
  top: 150em;
  left: 59em;
}

.innerhead2-p,.innerhead4-p,.innerhead3-p,.innerhead5-p,.innerhead6-p ,.innerhead7-p ,.innerhead8-p{
  text-align: center;
  margin-top: 130px;
  font-size: 40px;
   font-weight: bold;
  font-family: "Hepta Slab", serif;
}
.inner22-p{
  background-color: #917468;
  width: 514px;
  height: 248px;
  border-radius: 15px;
  position: absolute;
  /* left: 3em; */
  margin: 20px;

}
.continner2-p,.continner3-p,.continner4-p,.continner5-p,.continner6-p ,.continner7-p ,.continner8-p{
  padding: 15px;
  text-align: center;
  font-size: 29px;
  font-family: "Hepta Slab", serif;
  color: white;
}

.inner22-p button  , .inner23-p button , .inner24-p button , .inner25-p button  ,.inner26-p button ,.inner27-p button ,.inner28-p button{
  margin-left: 140px;
  margin-top: 20px;
 
  border-radius: 14px;
  width: 200px;
  height: 60px;
  background-color: #2D3551;
}
.inner2-p button a,.inner22-p button a ,.inner23-p button a ,.inner24-p button a,.inner25-p button a,.inner26-p button a,.inner27-p button a,.inner28-p button a{
 text-decoration: none;
 color: white;
}
/* third-box */

.innerimag2 img{
  width: 255px;
  height: 175px;
  background-color: #917468;
  border-radius: 23px;
  position: absolute;
  top: 189em;
  left: 14em;

}
.inner23-p{
  background-color: #917468;
  width: 514px;
  height: 248px;
  border-radius: 15px;
  position: absolute;
  margin: 20px;
}
/* forth-box */

.innerimag3 img{
  width: 255px;
  height: 175px;
  background-color: #917468;
  border-radius: 23px;
  position: absolute;
  top: 189em;
  left: 59em;

}
.inner24-p{
  background-color: #917468;
  width: 514px;
  height: 248px;
  border-radius: 15px;
  position: absolute;
  margin: 20px;
}

/* fifth-box */

.innerimag4 img{
  width: 255px;
  height: 175px;
  background-color: #917468;
  border-radius: 23px;
  position: absolute;
  top: 228em;
  left: 14em;

}
.inner25-p , .inner26-p ,.inner27-p ,.inner28-p{
  background-color: #917468;
  width: 514px;
  height: 248px;
  border-radius: 15px;
  position: absolute;
  margin: 20px;
}
/* sixth-box */

.innerimag5 img{
  width: 255px;
  height: 175px;
  background-color: #917468;
  border-radius: 23px;
  position: absolute;
  top: 228em;
  left: 60em;
}

/* seventh-box */

.innerimag6 img{
  width: 255px;
  height: 175px;
  background-color: #917468;
  border-radius: 23px;
  position: absolute;
  top: 268em;
  left: 14em;
}
 
/* eigth -box  */

.innerimag7 img{
  width: 255px;
  height: 175px;
  background-color: #917468;
  border-radius: 23px;
  position: absolute;
  top: 268em;
  left: 60em;
}


/* skill page  */

.wrapper{
  max-height: 360px;
  border: 0.25px solid #dddd;
  border-radius: 8px;
  display: flex;
  overflow-x: auto;
  margin: 40px;

}
.wrapper::-webkit-scrollbar{
  width: 0;
}
.wrapper .item img{
  min-width: 320px;
  height: 320px;
  line-height: 320px;
  text-align: center;
  background-color: #ddd;
  margin: 10px;
  border-radius: 50%;
}

/* tools used  */
.tool{
  margin-top: 20px;
  margin-bottom: 30px;
}
.wrapper-2{
  max-height: 260px;
  border: 0.5px solid #dddd;
  display: flex;
  overflow-x: auto;
  margin: 50px;
  border-radius: 8px;
}
.wrapper-2::-webkit-scrollbar{
  width: 0;
}
.wrapper-2 .item-2 img{
  min-width: 220px;
  height: 220px;
  line-height: 220px;
  text-align: center;
  background-color: #ddd;
  margin: 10px;
  border-radius: 50%;
}